header{
    background-color:#4a5b91;
	font color:white;
    height:100px;
   }
img{
    height:25px;
	width:25px;
   }
a{
    float:right;
    }	
body{
    height:500px;
    }
span{
   margin:left;
   margin:right;
   }
div{
    height:500px;
   }
footer{
    background-color:#adb3af;
    height:100px;
	   
      }